body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
}

.text-md {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

span,
p,
a,
div,
input,
.text-rg {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.caption {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.caption-gray {
  color:#94A3B8;
}